/* options page */

.form_input {
    width: 100%;
    min-width: 200px;
}

.opt_hint {
    margin-top: 2px;
}

.button_div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 10px;
}

div #auth_feedback {
    flex: 4 0 0;
}

button #submit_auth {
    flex: 1 0 0;
}

label {
    margin-bottom: 5px;
}

/* main page */
.popup_main {
    margin: 0;
    width: 300px;
    height: 500px;
}

p {
    margin: 0 0 10px;
    font-size: 10px;
}

.btn-group {
    width: 100% !important;
}

.orange {
    background-color: #F04717 !important;
    color: #fff !important;
}

.lrgbutton {
    height: 70px;
}

.grp-padding{
    padding-top: 5px;
}

.small-text {
    font-size: 10px;
    text-align: center;
}

.footer {
    margin-top: 10px;
    font-size: 12px;
}

.large-text {
    font-size: 15px;
}

button:hover {
    opacity: 0.5;
}

.social {
    width: 40px;
}

.left {
    float: left;
    width: 80%;
}

.right {
    float: right;
    width: 20%;
    text-align: right;
}

.disabled {
    opacity: 0.6
}

.icon-grey-link {
    padding-top: 10px;
    opacity:0.5;
    filter:alpha(opacity=50); /* For IE8 and earlier */
}

a:hover > i.icon-grey-link {
    padding-top: 10px;
    opacity:1;
    filter:alpha(opacity=100); /* For IE8 and earlier */
}

.alert {
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.padded-img {
    padding-top: 20px;
}

ul {
    font-size: 10px;
    margin-bottom: 8px;
}

.btn-text {
    font-size: 12px;
    padding: 6px 0;
    text-align: left;
}

.med-text{
    font-size: 12px;
}

.anchored-bottom {
    position:absolute;
    bottom: 0;
}

.container {
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
}

.title-emph{
    font-style: italic;
}

.checkbox {
    position: relative;
    display: block;
    min-height: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

div .auth_email_group {
    padding-bottom: 5px;
}

#spin-greybox {
    background: #888;
    opacity: 0.4;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 999;
    visibility: hidden;
}

/* CSS animations are recommended by chrome. this is from http://tobiasahlin.com/spinkit/ */
.spinner {
    position: absolute;
    width: 50px;
    height: 50px;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #111;
    border-radius: 100%;
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
    0% { -webkit-transform: scale(0) }
    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}

@keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 100% {
          -webkit-transform: scale(1.0);
          transform: scale(1.0);
          opacity: 0;
      }
}
